body {
    overflow: hidden;
}

#container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid #EEE;
}

.particle {
    position: absolute;
    background: orange;
    width: 5px;
    height: 5px;
    min-width: 10px;
    min-height: 10px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
}
